---
---
<html>
  <head>
    <meta http-equiv="refresh" content="0; url=/#como-funciona" />
    <script is:inline>window.location.replace('/#como-funciona');</script>
  </head>
  <body></body>
</html>
